body{
    margin: 0;
    border: 0;
    background-color: #fafafa;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
}

#playground{
    width: 60%;
    margin: 0 auto 0 auto;
}

#message{
    margin-left: 2px;
    margin-right: 2px;
    height: 70px;
}

#message p{
    margin: 2px;
}

.logo{
    width: 35px;
    height:35px;
    aspect-ratio: auto;
}

.msg-first-line{
    font-size: 1.5em;
    font-weight: bold;
}

fieldset{
    margin-top: 2px;
}

fieldset legend{
    font-weight: bold;
    background-color: #eedfa5;
}

fieldset p{
    margin: 0;
}
.buttons-area{
    background-color: #FFEBCD;
}

button{
    margin-top: 10px;
}

.game-container {
    height: 200px;
    font-family: Arial, sans-serif;
    background-color: #FFEBCD;
    padding-top: 25px;
}

.game-board{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    font-size: 2em;
}

.occupied{
    background-color: lightgray;
}

.central-column{
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.central-row{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.message_ok{
    background-color: #89ce00;
    color: black;
}

.message_warning{
    background-color: #f57600;
    color: black;
}

@media screen and (max-width: 660px) { /*  for mobile screens*/
    #playground{
        width:95%;
    }
}